ul.sources {
    list-style-type: none;
    padding: 0;
}

p.think-share {
    text-indent: 40px;
}

.anchor {
    padding-bottom: 30px;
}
h2.anchor {
    color: #484848;
}
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}
div.card-body {
    height: 200px;
}
h5.card-title {
    color: #6C9042;
    /* fd7e14 */
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.list-group-item {
    color: #484848;
}